@helper MenuRecursive(List<UsKirtasiye.DB.Categories> cats)
{

    <ul class="dropdown-menu">
        @foreach (var cat in cats)
        {
            if (cat.Categories1.Any())
            {
                <li class="dropdown-submenu">
                    <a href="~/Product/Product/@cat.Id">@cat.Name</a>
                    @MenuRecursive(cat.Categories1.ToList())
                </li>
            }
            else
            {
                <li><a href="~/Product/Product/@cat.Id">@cat.Name</a></li>
            }
        }
    </ul>
}